
.project-menu, .task-list, .chatbox {
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
/* width */
.project-menu::-webkit-scrollbar, .task-list::-webkit-scrollbar, .chatbox::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Project Menu Track */
  .project-menu::-webkit-scrollbar-track {
    background: hsl(220, 5%, 90%); 
  }
   
  /* Project Menu Handle */
  .project-menu::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 12px;
  }
  
  /* Task List Track */
  .task-list::-webkit-scrollbar-track {
    background: #fffafa; 
  }
   
  /* Task List Handle */
  .task-list::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 12px;
  }

  .task-option{
    opacity: 0;
  }

  .task-item:hover .task-option{
    opacity: 1;
  }

   /* chatbox Track */
   .chatbox::-webkit-scrollbar-track {
    background: #fffafa; 
  }
   
  /* chatbox Handle */
  .chatbox::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 12px;
  }

